<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= image_tag(@review_photo.photofile.url) %>
</p>



<%= link_to '删除', @review_photo, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to '回到产品编辑', edit_product_path(@review_photo.product_id) %>
